################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ThreadSafeQueue/.vs/ThreadSafeQueue/v14
